<div class="container">
    <div class="row">
        <div class="col">
        <div class="jumbotron bg-dark border border-danger">
            <h1 class="display-4 text-success">Welcome to the Zambian Sign Language Dictionary!</h1>
            <p class="lead text-warning">This website is intended to help hearing-impaired Zambians communicate more freely.</p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="mainCol" class="bg-dark border rounded border-warning text-light p-2">
                <form>
                    <div class="form-group">
                        <label for="wordInput">Word:</label>
                        <input type="text" class="form-control bg-light text-dark" id="wordInput">
                    </div>
                    <div class="form-group">
                        <label for="definitionInput">Definition:</label>
                        <input type="text" class="form-control bg-light text-dark" id="definitionInput">
                    </div>
                    <div class="form-group">
                        <label for="signTextInput">Sign Instructions (Text):</label>
                        <textarea class="form-control bg-light text-dark" id="signTextInput" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="signVideoInput">Sign Instructions (Video) URL:</label>
                        <input type="text" class="form-control bg-light text-dark" id="signVideoInput">
                    </div>
                    <button type="submit" id="addWordSubmit" class="btn btn-success ml-2 border border-danger">Add Word</button>
                </form> 
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#addWordSubmit").on("click", function() {
            console.log("working")
            event.preventDefault();
            var newWord = {
                word: $("#wordInput").val().trim(),
                definition: $("#definitionInput").val().trim(),
                signText: $("#signTextInput").val().trim(),
                signVideo: $("#signVideoInput").val().trim(),
                firstLetter: $("#wordInput").val().trim().charAt(0)
            };
            $.ajax({
                url: "/addWord/",
                method: "POST",
                data: newWord
            }).then(function() {
                window.location.replace("/");
            })
        })
    });
</script> 