<!-- Image and text -->
<nav class="navbar">
  <a class="navbar-brand nav-link"  href="layouts/main.handlebars">
    <img src="../public/images/zambiaFlag.png" width="40" height="40" class="nav-link d-inline-block align-top" alt="">
    ZSL Dictionary
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
