<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron bg-dark border border-danger">
        <h1 class="display-4 text-success">Welcome to the Zambian Sign Language Dictionary!</h1>
        <p class="lead text-warning">This website is intended to help hearing-impaired Zambians communicate more freely.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div id="leftCol" class="bg-dark border rounded border-warning text-light p-2">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control bg-light text-dark" id="wordSearchInput" placeholder="Search...">
          </div>
          <button type="submit" id="wordSearchSubmit" class="btn btn-success ml-2 border border-danger">Search</button>
        </form>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Jump to a Letter:</label>
            <select multiple class="form-control" id="letterSelectInput">
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
              <option>F</option>
              <option>G</option>
              <option>H</option>
              <option>I</option>
              <option>J</option>
              <option>K</option>
              <option>L</option>
              <option>M</option>
              <option>N</option>
              <option>O</option>
              <option>P</option>
              <option>Q</option>
              <option>R</option>
              <option>S</option>
              <option>T</option>
              <option>U</option>
              <option>V</option>
              <option>W</option>
              <option>X</option>
              <option>Y</option>
              <option>Z</option>
            </select>
          </div>
          <button type="submit" id="letterSelectSubmit" class="btn btn-success border border-danger">Go</button>
        </form>
        <br>
        <a href="/addWord"><button id="createWordBtn" class="btn btn-light border border-success">Add Your Own Word</button></a>
      </div>
    </div>
    <div id="wordView" class="col-8">
      <div class="bg-dark border rounded border-warning text-light p-2" id="rightCol">
      <p>Here is where words can be viewed</p>
      </div>
    </div>
  </div>
</div>